<div class="rows">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Get the statistic of the pixel of the scene : {{ name_scene }}</h2>
        <form [formGroup]="statPixelForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="x">Horizontal coordinate (X) :</label>
                <input type="number" class="form-control" id="x" formControlName="x">
            </div>
            <div class="form-group">
                <label for="y">Vertical coordinate (Y) :</label>
                <input type="number" class="form-control" id="y" formControlName="y">
            </div>
            <div class="form-group">
                <label for="samples">Number of samples you use for a statistique (default : 50 samples) :</label>
                <input type="number" class="form-control" id="samples" formControlName="samples">
            </div>
            <button class="btn btn-success" [disabled]="statPixelForm.invalid" type="submit">Get stat</button>
        </form>
    </div>
</div>
