<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="listStatPixelForm" (ngSubmit)="onSubmit()">
        <h2>Get the statistique of the scene : {{ name_scene }}</h2>
        <h3>With this list of the pixel :</h3>
        <div class="form-group">
            <label for="samples">Samples :</label>
            <input type="number" id="samples" class="form-control" formControlName="samples">
        </div>
        <div class="form-group">
            <label for="pixels">Pixels :</label>
            <input type="text" id="pixels" class="form-control" formControlName="pixels">
        </div>
        <!-- <div formArrayName="pixels">
            <div class="form-group" *ngFor="let pixelControl of getPixels().controls; let i = index">
                <input type="number" class="form-control" [formControlName]="i">
            </div>
            <button type="button" class="btn btn-success" (click)="onAddPixel()">Add a pixel</button>
        </div> -->
        <button class="btn btn-primary" type="submit" [disabled]="listStatPixelForm.invalid">Submit</button>
    </form>
</div>