<div class="rows">
    <div class="col-xs-12">
        <button class="btn btn-default" (click)="onBack()">Back to new stat</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" *ngFor="let title of coordPixelTab">{{ title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subtitle of subtitleTab; let i = index">
                    <th scope="row">{{ subtitle }}</th>
                    <td *ngFor="let stat of statTab[i]">{{stat}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>