<div class="rows">
    <div class="col-xs-12">
        <button class="btn btn-default" (click)="onBack()">Back to new stat</button>
        <table class="table table-striped" *ngIf="isLoaded">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" *ngFor="let title of coordPixelTab">{{ title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subtitle of subtitleTab; let i = index">
                    <th scope="row">{{ subtitle }}</th>
                    <td *ngFor="let stat of statTab[i]">{{stat}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isLoaded">
            <img *ngFor="let image of imageGraphTab" [src]='transforme(image)' style="max-width: 400px;">
        </div>
        <p *ngIf="!isLoaded">Loading statistics...</p>
    </div>
</div>