<div class="rows">
    <div class="col-xs-12">
        <a [href]="image" download>download image</a>
        <button class="btn btn-default" (click)="onList()">Get list</button>
        <button class="btn btn-default" (click)="onStat()">Get stat for one pixel !</button>
        <button class="btn btn-default" (click)="onStatList()">Get stat for several pixels !</button>
        <div>
            <h1>Image :</h1>
            <img mouseWheel [width]="imgWidth" *ngIf="!error" [src]='image' (click)="onImage($event)" (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">
            <p *ngIf="error">{{ image }}</p>
        </div>
    </div>
</div>
