<div class="rows">
    <div class="col-xs-12">
        <a [href]="image" download>download image</a>
        <button class="btn btn-default" (click)="onList()">Get list</button>
        <button class="btn btn-default" (click)="onStat()">Get stat for one pixel !</button>
        <button class="btn btn-default" (click)="onStatList()">Get stat for several pixels !</button>
        <div>
            <h1>Image :</h1>
            <lib-ngx-image-zoom
                *ngIf="!error"
                [thumbImage]=image
                [magnification]="10"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [circularLens]="true"
                [maxZoomRatio]="30"
                [scrollStepSize]="0.5"
                (click)="onClick()"
            ></lib-ngx-image-zoom>
            <p *ngIf="error">{{ image }}</p>
        </div>
        
    </div>
</div>
