<div class="row">
    <div class="col-xs-12">
        <h2>Your scenes</h2>
        <div class="list-group">
            <button class="list-group-item"
                    *ngFor="let scene of list_scenes; let i = index"
                    (click)="onShowImage(scene)">
                <h3 class="list-group-item-text">{{ scene }}</h3>
                <!-- <img style="max-width: 200px;" [src]="getSrcImage(scene) | async"> -->
                
            </button>
        </div>
    </div>
</div>